<!DOCTYPE html>

{% load static %} 
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% block content %}
        {% include 'includes/navbar.html' %}
        
       <a href="{% url 'blog:getpost' %}"> <button>post bell</button></a>
    {% for post  in posts %}
    
                
    <a href="{% url 'blog:detial' post.id %}"> 
        <p>{{post.title}}</p></a>
        
     <a href="{% url 'blog:profile' post.author.id %}">{{post.author}}</a>
    
    {% endfor %}            
            
    {% endblock content %}
</body>
</html>