<!DOCTYPE html>

{% load static %} 
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% block content %}
        {% include 'includes/navbar.html' %}
        
       <a href="{% url 'blog:getpost' %}"> <button>post bell</button></a>
    {% for post  in page_obj %}
    
                
    <a href="{% url 'blog:detial' post.id %}"> 
        <p>{{post.title}}</p></a>
        
     <a href="{% url 'blog:profile' post.author.id %}">{{post.author}}</a>


     
    
    
    {% endfor %}   
    <form action="" method="get">
        <p> title:<input type="text" name='search'>
            
        <br><button>ok</button></p>
    </form>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
            
    {% endblock content %}
</body>
</html>