{% extends 'base.html' %}
{% include 'includes/navbar.html' %}
{% block content %}


   
    {% for feature in posts %}
   
    

         {{feature.contet}}<br>
        <img src='{{feature.image}}'>
        {{feature.created_date}}
       <p>{% for com in comments  %}
            {{com.body}}
            
            {{com.commenter}}
            {{com.created_on}}

    {% endfor %} 
 
           
          
        
    <form   method='POST' >
        {% csrf_token %}
        {{comment}}
        <button>sabt</button>
    </form>
       
        

  

        <form action="{% url 'blog:like' feature.id %}" method="post" name="like" >
            {% csrf_token %}
        <button type='submit' name='like' value="{{ post.id }}" >Like</button>
    </form>
    <p>likes={{feature.likes}}</p>
    {% if edit %}
    <a href="{% url 'blog:editpost' feature.id %}">edit</a>
    {% endif %}
{% endfor %}

{% endblock  %}
